<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="card mx-auto text-center" style="width: 550px;">
        <div class="card-body" style="padding: 2rem;">
            <img src="<%=movie.Poster%>" class="card-img-top img-fluid" alt="Poster" style="width: 150px; height: 250px; margin-top: 3rem; margin-right: 1rem; border-radius: 1rem;">
            <div>
                <h5 class="card-title"><b><%=movie.Title%></b></h5>
                <p class="card-text"><i class="fa fa-star" aria-hidden="true" style="color: gold;"></i> <%=movie.imdbRating%></p>
                <p class="card-text"><small><%=movie.Rated%> &nbsp; <%=movie.Year%> &nbsp;<%=movie.Runtime%> &nbsp; </small></p>
                <p class="card-text"><b>Plot : </b><%=movie.Plot%></p>
                <p class="card-text"><b>Actors: </b><%=movie.Actors%></p>
                <p class="card-text"><b>Release: </b><%=movie.Released%></p>
                <p class="card-text"><b>Genre: </b><%=movie.Genre%></p>
            </div>
        </div>
        <a href="/" class="btn btn-outline-success">Back</a>
    </div>
    

</body>


