<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship task</title>
</head>
<body>
    <h1><%=movie.Title%></h1>
    <p><b>Year : </b><%=movie.Year%></p>
    <p<b>Rated : </b><%=movie.Rated%></p>
    <p><b>Release : </b><%=movie.Released%></p>
    <p><b>Length : </b><%=movie.Runtime%></p>
    <p><b>Genre : </b><%=movie.Genre%></p>
    <p><b>Director : </b><%=movie.Director%></p>
    <p><b>Writer : </b><%=movie.Writer%></p>
    <p><b>Actors : </b><%=movie.Actors%></p>
    <p><b>Plot : </b><%=movie.Plot%></p>
    <p><b>Language : </b><%=movie.Language%></p>
    <p><b>Country : </b><%=movie.Country%></p>
    <p><b>Awards : </b><%=movie.Awards%></p>
    <img src="<%=movie.Poster%>" alt="Poster" width="350">
    <p><b>Metascore : </b><%=movie.Metascore%></p>
    <p><b>IMBD Rating : </b><%=movie.imdbRating%></p>
    <p><b>IMBD Votes : </b><%=movie.imdbVotes%></p>
    <p><b>Type : </b><%=movie.Type%></p>
    <p><b>DVD : </b><%=movie.DVD%></p>
    <p><b>Box Office : </b><%=movie.BoxOffice%></p>
    <p><b>Website : </b><%=movie.Website%></p>
</body>
</html>